DATABASE_URL="postgresql://user:pass@localhost:5432/db"
DIRECT_URL="postgresql://user:pass@localhost:5432/db"
PORT=8080
JWT_SECRET="your_jwt_secret_here"
NODE_ENV="development"
CLIENT_URL="http://localhost:5173"
